@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@theme {
  --font-family-sans: 'Inter', sans-serif;
}
@layer base {
:root {
    --sidebar-background: 194 25% 97%;
      --sidebar-foreground: 240 5.3% 26.1%;
      --sidebar-primary: 224.3 76.3% 48%;
      --sidebar-primary-foreground: 0 0% 98%;
      --sidebar-accent: 240 4.8% 95.9%;
      --sidebar-accent-foreground: 240 5.9% 10%;
      --sidebar-border: 220 13% 91%;
      --sidebar-ring: 217.2 91.2% 59.8%;
    }

.dark {
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@keyframes fade-in-out {

  0%,
  100% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

@keyframes loading {

  0%,
  100% {
    width: 0%;
  }

  50% {
    width: 100%;
  }
}

.animate-loading {
  animation: loading 5s infinite;
}
.animate-fade-in-out {
  animation: fade-in-out 5s infinite;
}