@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {

    --radius: 0.5rem
  }
}
@keyframes fade-in-out {

  0%,
  100% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

.animate-fade-in-out {
  animation: fade-in-out 5s infinite;
}